:root {
  --animation-speed: 2s;
  --primary-color: #000;
  --secondary-color: #000;
  --background-color: grey;
  --text-color: #fff;
  --font: sans-serif;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  font-family: var(--font);
  background: grey;
  font-weight: 300;
  font-size: 24px;
}

.container {
  height: 540px;
  width: 300px;
  background: #191b1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 50px rgb(0 0 0 / 50%);
  border-radius: 8px;
}
.container:focus {
  outline: none;
}

.result {
  height: 200px;
  padding-right: 15px;
  color: grey;
  display: flex;
  align-items: flex-end;
	justify-content: flex-end;
}

.result .number {
  font-size: 50px;
  font-weight: 800;
}

.screen {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: right;
}

.calculation {
  height: 150px;
  color: #fff;
  padding-right: 15px;
  font-weight: 300;
  font-size: 24px;
}

.btnContainer {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}

.btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #191b1d;
  background: blueviolet;
  transition: all .5s;
  user-select: none;
  box-shadow: none;
}

.btn:active {
  background: #831fe0;
  z-index: 10;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all .1s;
}

.resultBtn {
  z-index: 11;
  position: absolute;
  background: grey;
  border-bottom-right-radius: 8px;
  border: 0.5px rgba(0, 0, 0, 0.0001);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -12px;
  bottom: -12px;
  width: calc(33% * 1.25);
  height: calc(100% * 1.25);
  transform: scale(1);
  transition: all 250ms;
}

.resultBtn:hover {
  position: absolute;
  transform: scale(1.1);
  transition: all 250ms;
}

.dotBtn {
  border-bottom-left-radius: 8px;
}

.containerOperands {
  position: absolute;
  left: -25px;
  top: 100px;
  height: 250px;
  display: flex;
  width: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.operand {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
  transition: all .1s;
}

.operand:active {
  color: blueviolet;
  transition: all .1s;
  transform: scale(1.5);
}

.clearBtn {
  background: blueviolet;
  border-radius: 8px 8px 0% 0%;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.clearBtn:active {
  color: #fff;
}

@media (orientation: portrait) and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  .screen {
    order: 1;
    height: 25%;
  }

  .btnContainer {
    order: 3;

  }

  .dotBtn {
    border-bottom-left-radius: 0px;
  }

  .containerOperands {
    position: relative;
    top: 0;
    left: 0;
    order: 2;
    height: 15%;
    width: 100vw;
    flex-direction: row;
    border-radius: 0px;
    box-shadow: none;
    border: 0.5px solid #191b1d;
  }

  .clearBtn {
    background: blueviolet;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .resultBtn {
    position: static;
    background: none;
    border-bottom-right-radius: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    transform: none;
    transition: all 250ms;
  }
  
  .resultBtn:hover {
    position: static;
    transform: none;
    transition: all 250ms;
  }

  .operand {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }
}

@media (hover: hover) {
  .btn:hover {
    z-index: 10;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow .5s;
  }

  .btn:active {
    background: #831fe0;
    transition: background .2s;
  }

  .operand:hover {
    color: blueviolet;
    transition: all .1s;
    transform: scale(1.5);
  }

  .clearBtn:hover {
    color: #fff;
  }
}

/* @media(hover: hover) and (pointer: fine) {
  .operand:hover {
    color: blueviolet;
    transition: all .1s;
    transform: scale(1.5);
  }

  .btn:hover {
    z-index: 10;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow .5s;
  }
} */